* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir;
}

.onboard2-container{
    margin: 14vh 4vw;
    display: flex;
    flex-direction: column;
}

.onboard2-title{
    font-size: 36px;
    margin-bottom: 0.5rem;
}

.onboard2-form{
    display: flex;
    flex-direction: column;
    width: min-content;
}

.onboard2-tag{
    font-size: 24px;
    margin-bottom: 4rem;
}

.onboard2-label{
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.onboard2-input{
    width: 55vw;
    height: 3rem;
    border-radius: 8px;
    border: 3.5px solid rgb(163, 162, 162);
    margin-bottom: 1.5rem;

}

.input-group{
    display: flex;
    flex-direction: column;
}

.onboard2-col{
    display: flex;
    justify-content: space-between;
}

#date-time{
    width: 25vw;
}

.onboard-button{
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    width: 10vw;
    color: #4b4949;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 18px;
    font-weight: 500;
    background-color: #C4C4C4;
    transition: all 0.2s linear;
    align-self: flex-end;
    margin-bottom: 10%;
}

a{
    width: min-content;
}
