* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir;
}

.signin-container {
  display: flex;
  justify-content: space-between;
  margin: 4vh 4vw;
}

.signin-left-col {
  display: flex;
  flex-direction: column;
}

.signin-logo {
  margin-bottom: 20vh;
}

.signin-title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.signin-tag {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8vh;
}

.signin-tag mark {
  background-color: transparent;
  font-weight: 800;
  text-decoration: underline;
}

.github-button {
  background: #4b4949;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 35vw;
  height: 12vh;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: all 0.2s linear;
}

.github-button-div {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.github-button-div p {
  margin-left: 1.5rem;
}

.github-button:hover {
  background: #312f2f;
}

.signin-link {
  font-weight: 800;
  text-decoration: underline;
  margin-top: 8vh;
  color: black;
}
