*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timebar-container{
    width: 30vw;
    height: 100vh;
    border-left: 1px solid #B1AEAE;
    position: fixed;
    right: 0;
    padding:4vw 4vw 0;
    padding-top: 5vw;
}

.row-1{
    color: white;
    display: flex;
    justify-content: flex-end;
}

.radial-bar{
    display: flex;
     align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.radial-bar h3{
    font-size: 36px;
    color: #EFEFEF;
    text-align: center;
    
}
.row-2 h2{
    font-size: 24px;
    color: #EFEFEF;
    text-align: center;

    margin-top: 4rem;
}


.profile-pic{
    height: 4vh;
    width: 4vh;
    background-color: grey;
    border-radius: 100%;
    margin-left: 1rem;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 35vh;
    border: 10px solid #B1AEAE;
    border-radius: 100%;
}

.row-3{
    display: flex;
    flex-direction: column;
    color: #EFEFEF;
    margin-top: 4rem;
}

.row-3 h4{
    font-size: 18px;
}

.invite-link-container{
    padding: 0.5rem 1.5rem;
    border-style: solid;
     border-width: 2px;
    border-image: linear-gradient(45deg, #6066D2, #D06C7F) 1;
    border-radius: 23.5px;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 1rem;
}

.invite-link{
    font-size: 10px;
    margin-right: 2rem;
}

