* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir;
}

.dashboard-container{
    overflow: hidden;
    display: flex;
}

.dash-main{
    padding: 10vh 6vw;
    overflow: scroll;
}

.dash-welcome{
    color: #B1AEAE;
    font-size: 36px;
}
.add-member-btn{
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: transparent;
    height: 10vh;
    width: min-content;
    margin-right: 0.5rem;
    
}

.dash-header{
    color: #EFEFEF;
    margin-top: 3rem;
}
.team-lineup{
    display: flex;
    width: 50vw;
    align-items: center;
    margin-top: 1rem;

}
.team-member-icon{
    background-color: grey;
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    margin: 0 0.5rem;
}

.tasks-section{
    width: 50vw;
}

.task{
    background: #D06C7F;
    width: 90%;
    padding: 1.5rem 2rem;
    color: #EFEFEF;
    border-radius: 10px;
    
}

.task h3{
    font-size: 16px;
}

.task p{
    font-size: 12px;
}

.tasks-lineup{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.task-team{
    display: flex;
}

.task-team-icon{
    background: grey;
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    margin: 1rem 0.5rem 0 0;
}

#tasks-section-header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

}

.btn-group{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.btn-group i{
    margin: 0 0.5rem;
    color: #EFEFEF;
    cursor: pointer;
}

.add-task-btn{
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: transparent;
    color: #EFEFEF;
    font-weight: 500;
    margin-right: 1rem;

}

.dash-main hr{
    width: 25vw;
    height: 3px;
    border: none;
    background-color: #999DEA;
    margin-top: 1.5rem;
}