.messages-container{
  margin: 0;
  display: flex;
}

.messages-col-1{
    padding-top: 10vh;
    padding-left: 14vw;
    height: 100vh;
    width: 45vw;
}

.messages-title{
    font-size: 36px;
    color: #B1AEAE;

}

.messages-col-1 hr{
    width: 20vw;
    height: 3px;
    border: none;
    background-color: #999DEA;
    margin-top: 0.5rem; 
}

.list-chat{
    padding: 1rem 1.5rem;
    background-color: #4F4F4F;
    width: 90%;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #EFEFEF;
}

.chat-profile-pic{
    width: 8vh;
    height: 8vh;
    background-color: #C4C4C4;
    border-radius: 100%;
}

.list-chat-col{
    margin-left: 1rem;
}

.list-chat-name{
    font-size: 16px;
    font-weight: heavy;
}

.list-chat-preview{
    font-size: 14px;
}

#vr{
    height: 100vh;
    width: 1px;
    border: none;
    background-color: #B1AEAE;
}

.messages-col-2{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.messages-col-2-header{
    display: flex;
    color: #EFEFEF;
    font-size: 25;
    padding: 2rem 1rem;
    justify-content: space-between;
}

.message-group{
    display:flex;
    height: 15vh;
    margin-top: 2rem;
    margin-left: 1rem;
}

.textbox-container p{
    font-size: 14px;
    color: #B1AEAE;
    margin-left: 1rem;
}
#message-pic{
    align-self: flex-end;
}

.textbox{
    background: #4E4D4D;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    margin-left: 1rem;
}

#right-message {
    width: min-content;
    align-self: flex-end;
    margin-top: 1rem;
    
}
#right-message .textbox{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    background-color: #46497E;
}

#col-2-hr{
    border: none;
    background-color: #B1AEAE;   
    height: 1px;
    position: absolute;
    top: 5rem;
    width: 80vw;
}

.message-input-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: auto;
    margin-bottom: 1rem;
}

.message-input{
    border: none;
    outline: none;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    background: #646464;
    color: #EFEFEF;
}

.message-input::placeholder {
    color: #EFEFEF;
}

.message-icons{
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
    color: #EFEFEF;
}

.message-icons i{
    margin-right: 0.5rem;
    cursor: pointer;
}

.message-icons i:hover{
    color: #dad8d8;
}

#send{
    margin-left: auto;
}