.plan-container{
    margin-left: 8vw;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.plan-content{
    width: 58vw;
    height: 100vh;
    font-size: 36px;
    color: #B1AEAE;
    margin-top: 7vh;
    margin-left: 3rem;
}

.plan-content hr{
    border: none;
    background: #999DEA;
    height: 3px;
    width: 20vw;
}

.phases-section h2{
    color: #EFEFEF;
    font-size: 25px;
    font-weight: heavy;
}

.plan-btn{
    border: none;
    outline: none;
    background: #4C5090;
    color: #EFEFEF;
    padding: 0.5rem 1rem;
    width: 8vw;
    height: 7vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s linear
}

.plan-btn:hover{
    background: #3e4279;
}

.add-options{
    width: 14vw;
    height: 15vh;
    background: #141414;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #EFEFEF;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-content: space-around
}

.option{
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 80%;
}

.option-line{
    width: 3vw;
    height: 2px;
    margin-left: 1rem;
    
}


